<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="#home"><li>Home</li></a>
    <a href="#schedule"><li>Schedule</li></a>
    <a href="#youtube"><li>Youtube</li></a>
    <a href="#reddit"><li>Reddit</li></a>
    <a href="#rainbow"><li>Rainbow</li></a>
  </ul>
</div>
