<h1>Startup Sprint!</h1>
<img src="/images/learnco.png">

<h3>Subscribe to the Startup Sprint newsletter</h3>
<% if @error == 'email' %>
  <p style="color: red;">Please enter a valid email</p>
<% end %>
 <%# if @error == 'full_name' %>
  <!-- <p style-"color: red">Please enter a first and last name</p>
<% end %> -->
<form method=POST action="/subscribe">
  <label for="full-name">Full Name</label>
  <input type="text" id="full-name" name="full_name" required placeholder="Enter your full name">
  <label for="email">Email</label>
  <input type="email" id="email" name="email" required placeholder="Enter a valid email address">
  <label for="city">City</label>
  <input type="text" id="city" name="city" required placeholder="Enter your current city">
  <input type="Submit">
</form>
