<div>
  <HR color='red' width=10%>
  <HR color='orange' width=10%>
  <HR color='yellow' width=10%>
  <HR color='green' width=10%>
  <HR color='blue' width=10%>
  <HR color='indigo' width=10%>
  <HR color='violet' width=10%>
  </div>
