<div>
  <HR color='red' width=100% size='6'>
  <HR color='orange' width=100% size='200'>
  <HR color='yellow' width=100% size='1'>
  <HR color='green' width=100% size='15'>
  <HR color='blue' width=100% size='15'>
  <HR color='indigo' width=100% size='15'>
  <HR color='violet' width=100% size='15'>
  </div>
