<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Team Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="front" class="Names">
        <div id="title-box">
          <header>
            <h1>THE TEAM</h1>
          </header>
        </div>
      </div>
  </body>
  
