
<div class = "padding">

<h1> Team stuff </h1>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <div class="team-member">
                     <a href="#olson" class="portfolio-link" data-toggle="modal">
                        <img src="team/Corinne.png" class="img-responsive img-circle" alt=""></a>
                        <h4 class = "black-text"><b>Corinne Lowe</b></h4>
                        <p class="text-muted black-text small-text">Loves long walks on the beach with a metal detector</em></p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                    <a href="#garcia" class="portfolio-link" data-toggle="modal">
                        <img src="team/Josh.png" class="img-responsive img-circle" alt=""></a>
                        <h4 class = "black-text"><b>Josh Su</b></h4>
                        <p class="text-muted black-text small-text">Fights his computer all the time</p>
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="team-member">
                    <a href="#andrew" class="portfolio-link" data-toggle="modal">
                        <img src="team/Mihir.png" class="img-responsive img-circle" alt=""></a>
                        <h4 class = "black-text"><b>Mihir Pershad</b></h4>
                        <p class="text-muted black-text small-text"> Trained by actual ninjas for a weeklong bootcamp</p>
                    </div>
                </div>
                  <div class="col-sm-2">
                    <div class="team-member">
                    <a href="#spitzley" class="portfolio-link" data-toggle="modal">
                        <img src="team/paul.png" class="img-responsive img-circle team-member" alt=""></a>
                        <h4 class = "black-text"><b>Paul Styslinger</b></h4>
                        <p class="text-muted black-text small-text">Ehhhhhhhh</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                    <a href="#spitzley" class="portfolio-link" data-toggle="modal">
                        <img src="team/genevieve.png" class="img-responsive img-circle" alt=""></a>
                        <h4 class = "black-text"><b>Genevieve Agar</b></h4>
                        <p class="text-muted black-text small-text">Loves the movie "Amelie" and dislikes reptiles</p>
                    </div>
                </div>
            </div>
  </div>

