/*
 * TODO: add custom styling
 */




body {
background-color: blue;
/*background-image: url(/images/AndrewYang.png);*/
}


.column2 {float: right; width: 50%;
}

#myIcon {
	max-height: 50px;
	max-width: 50px;
}

.team_member {
	height: 50px;
	width: 50px;
}

.padding {
	padding:30px;
}

