/*
 * TODO: add custom styling
 */

.column {float: left; width: 50%;

}

body {
background-color: blue;
/*background-image: url(/images/AndrewYang.png);*/
}

body {
/*opacity: 0.5;*/
}

.column2 {float: right; width: 50%;
}
#myIcon {
	max-height: 50px;
	max-width: 50px;
}

.team_member {
	height: 50px;
	width: 50px;
}

.padding {
	padding:30px;
}

