/*
 * TODO: add custom styling
 */

.column {float: left; width: 50%;

}

.column2 {float: right; width: 50%;
}
#myIcon {
	max-height: 50px;
	max-width: 50px;
}

.team_member {
	height: 50px;
	width: 50px;
}

.padding {
	padding:30px;
}